@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: none;
}
* {
  margin: 0;
  padding: 0;
}
.firstblock {
  width: 50%;
  height: 100vh;
  float: left;
  background-color: white;
}
.secondblock {
  width: 50%;
  height: 100vh;
  float: right;
  align-content: center;
  position: relative;
  background-color: #F6F6F7;
}
.title {
  padding-top: 4vh;
  padding-left: 4vw;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  letter-spacing: 2px;
}
.titleimg {
  text-align: center;
  position: relative;
  top: 10%;
}
.titledesc {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
  position: relative;
  top: 15%;
}

.button-54 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FF013C;
  cursor: pointer;
  position: absolute;
  left: 0%;
  transform: translate(0%, 13px);
  
}

.preview_box{
  width: 300px;
  min-height: 200px;
  border: 2px solid #dddddd;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #cccccc;
}
.preview_image{
  display: none;
  width: 100%;
}
.container{
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  align-items: center;
  justify-content: center;
  align-content: center;
  position: absolute;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .firstblock,
  .secondblock {
    width: 100%;
  }
  .bg {
    width: 224px;
    height: 126px;
  }
}

.button-24 {
  position: absolute;
  right: 0%;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}